<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"

        android:label="@string/app_name"

        android:supportsRtl="true"
        android:theme="@style/Theme.FinalProject"
        tools:targetApi="31">
        <activity android:name=".Recipe.RecipeListActivity"/>



        <!-- MainActivity as the launcher activity -->




        <!-- MainActivity as the launcher activity -->
        <activity

            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Corrected and simplified other activities declaration -->


        <activity android:name=".Dictionary" android:exported="true"/>
        <activity android:name=".SongDetailsActivity" android:exported="true"/>
        <activity android:name=".DeezerSongSearch" android:exported="true"/>
        <activity android:name=".Sunrise" android:exported="true"/>
        <activity android:name=".ViewSavedSearchesActivity" android:exported="true"/>

        <activity android:name=".Recipe.RecipeSearch" android:exported="true"/>
        <activity android:name=".Recipe.RecipeDetailsActivity" android:exported="true"/>

    </application>

</manifest>